<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

	<header>
		<h1>Trivial Navigo</h1>
	</header>
    <h4> Créer Un Compte </h4>
	<div class="screen">
		<form class="formMenu" action="" method="post">
			<p>
			<p> pseudo : </p> <input type="text" name="pseudo" />
			<p> mdp : </p> <input type="password" name="mdp" />
			<p> email : </p> <input type="text" name="email" />
			<input type="submit" value="Valider" />
		 	</p>
	 	</form>
    </div> 


</body>
</html>