<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>
    <form id="formQuestion" method="post" class={{theme}} action="{{ base_url() }}/SubmitQ">
        <p>
            <label id="question">{{ question.question }}</label>
        </p>
        <p>
            <label for="reponse" id="labelreponse">Votre réponse :</label>
            <input type="text" name="reponse" id="reponse" placeholder="Ex : test"/>
        </p>
        <input type="hidden" id="idCarte" name="idCarte" value={{ question.idCarte }}></input>
        <div class="button">
            <button type="submit">Envoyer le message</button>
        </div>
    </form>
</body>
<html>