<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>
<div class="board">
{% for cologne in 1..13 %}
    {% for ligne in 1..13 %}
        {% if board.grid[cologne][ligne].theme is defined %}
            <div class="{{board.grid[cologne][ligne].theme}}">
                {% if board.grid[cologne][ligne].player is defined %}
                    <div class='divplayer'>
                    {% for player in board.grid[cologne][ligne].player %}
                        {% if player == board.player1 %}
                            <div class="player1"></div>
                        {% endif %}
                        {% if player == board.player2 %}
                            <div class="player2"></div>
                        {% endif %}
                        {% if player == board.player3 %}
                            <div class="player3"></div>
                        {% endif %}
                        {% if player == board.player4 %}
                            <div class="player4"></div>
                        {% endif %}
                    {% endfor %} 
                     </div>
                {% endif %}
            </div>
        {% else %}
            <div class="null"></div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
</body>
<html>