<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

<div class="game">
{% include 'BoardView.html.twig' %}
    <div class="bandeaux">
    {% include 'PlayView.html.twig' %}
        {% for player in board.player %}
            <div class ="bandeau">
                {% include 'CamembertView.html.twig' with {'player':player} %}
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>