<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

	<header>
		<h1>Trivial Navigo</h1>
		<h5>{{pseudo}}</h5>
	</header>
    {% if pseudo == null %}
		<div class="screen">
			<div class="boutton">
				<a href="Start" >Démarrer Une Partie</a>
			</div>
			<div class="boutton">
				<a href="Rejoin" >Rejoindre Une Partie</a>
			</div>
	  		<div class="boutton">
		   		<a href="CreateAccount" >Créer Un Compte</a>
	  		</div>
			<div class="boutton">
				<a href="Connection" >Connexion</a>
			</div>
  		</div>
    {% endif %}
    {% if pseudo != null %}
        <div class="screen">
			<div class="boutton">
				<a href="Start" >Démarrer Une Partie</a>
   			</div>
   			<div class="boutton">
		   		<a href="Rejoin" >Rejoindre Une Partie</a>
	  		</div>
			<div class="boutton">
				<a href="Disconnection" >Déconnexion</a>
			</div>
			<div class="boutton">
				<a href="MyAccount" >My Account</a>
			</div>
	  	</div>
    {% endif %}

</body>
</html>
