<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

        <header>
	        <h1>Trivial Navigo</h1>
	        <h5>{{pseudo}}</h5>
	</header>
  
        <h4>Rejoindre une partie</h4>
        <div class="screen">
                Rejoindre le salon :  
                <form class="formMenu" action="" method="post">
                        <div class = "choice">
                                <select name="nomSalon">
                                        {% for values in salonDispo %}
                                        <option>{{values['nomSalon']}}</option>
                                        {% endfor %} 
                                </select>
                        </div>
			<input type="submit" value="Valider" />
                        <br><br>
		</form>
        </div>

</body>
</html>