<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

<header>
		<h1>Trivial Navigo</h1>
		<h5>{{pseudo}}</h5>
	</header>

      <h4> Mon Compte </h4>
        <div class="screen">
        <div class="boutton">
		<a href="CreateQuestions">Créer Questions</a>
   </div>
        </div>
    </body>
    </html>