<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>

  <header>
		<h1>Trivial Navigo</h1>
		<h5>{{pseudo}}</h5>
	</header>

  <h4>Espace Création de Questions</h4>

  <div class="screen">
    <form class="formMenu" action="" method="post">
      <div class="choice">
        <select name="theme">
          <option>Choisissez le Thème de la question :</option>
          <option name="theme">Geographie</option>
          <option name="theme">Divertissements</option>
          <option name="theme">Histoire</option>
          <option name="theme">Sports & Loisirs</option>
          <option name="theme">Informatique</option>
          <option name="theme">Personnalites</option>
        </select>
      </div>
      <br>
      <p>
        <label for="questionCreee" id="labelQuestionCreee">Votre question :</label>
        <input type="text" name="questionCreee" id="questionCreee" placeholder="Ex : Qui a été le premier homme a marché sur la lune ?"/>
      </p>
      <p>
        <label for="reponseCreee" id="labelReponseCreee">Votre réponse :</label>
        <input type="text" name="reponseCreee" id="reponseCreee" placeholder="Ex : Neil Armstrong"/>
      </p>
      <input type="submit" value="Valider" />
      <br><br>
    </form>
  </div>

</body>
</html>